
:root{
  --background-light: #fbf8ef;
  --text-color:#353e4a;
  --primary-color:  #04D0D9;
  --secondary-color: #9acb34;
  --btn-bg:#cc0903;
  --btn-bg-hover:#6b0c08;
  --white:#ffffff;

}
html{
  font-size: 62.5%;
}
body {
  background-color: #fbf8ef;
  font-family: "Catamaran", serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.6;
}
img{
  width: 100%;
}
h1,
h2,
h3,
h4{
  margin: 0;
  line-height: 1.2;
}

h1{
  font-weight: 700;
  font-size: 3.6rem;
}
h2{
  font-weight: 700;
  font-size: 3rem;
} 
h3{
  font-weight: 600;
  font-size: 2.6rem;
}
h4{
  font-weight: 600;
  font-size: 2.1rem;
}

a{
  color:var(--text-color);
}
a:visited{
  color:var(--text-color);
}
a:hover,
a:focus{
  color:var(--secondary-color);
  text-decoration: none;
}
a:active{
  color:var(--secondary-color);
}
.btn{
  background: var(--btn-bg);
  color:var(--white);
  text-decoration: none;
  padding: 1em 3em;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
}
.btn:visited{
  color:var(--white);
}
.btn:hover,
.btn:focus{
  background: var(--btn-bg-hover);
  color:var(--white);
}
.btn:active{
  background: var(--btn-bg-hover);
  color:var(--white);
}
/* Layout styling */

.container {
padding: 0 15px;
}
.header{
  margin: 25px 0; /*25px top and bottom, 0 left and right */
}
#hero h1{
  text-align: center; /* Centers text */
}
.logo{
  font-size: 3rem;
}
header{
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
  -webkit-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
  -moz-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
}

nav > ul > li {
  display: inline-block;
}
nav > ul{
  list-style-type: none ;
  padding: 0%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
}
nav > ul > li > a:visited {
  text-transform: uppercase;
  color: var(--text-color);
}
nav > ul > li > a:hover {
  text-transform: uppercase;
  text-shadow: #353e4a;
  color: var(--white);
}
nav > ul > li > a:active {
  text-transform: uppercase;
  color: var(--secondary-color);
}
#hero {
  background-color: var(--primary-color);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main{
  padding-top: 120px;
}
svg{
  margin: auto;
  padding: 20px;
  display: inline-block;
  width: 70px;
  height: 70px;
}
footer{
  text-align: center;
}
