
:root{
  --background-light: #fbf8ef;
  --text-color:#353e4a;
  --primary-color:  #04D0D9;
  --secondary-color: #9acb34;
  --btn-bg:#cc0903;
  --btn-bg-hover:#6b0c08;
  --white:#ffffff;
  --content-gap:3rem;

}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #fbf8ef;
  font-family: "Catamaran", serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.6;
}
img{
  width: 100%;
}
h1,
h2,
h3,
h4{
  margin: 0;
  line-height: 1.2;
}

h1{
  font-weight: 700;
  font-size: 3.6rem;
}
h2{
  font-weight: 700;
  font-size: 3rem;
} 
h3{
  font-weight: 600;
  font-size: 2.6rem;
}
h4{
  font-weight: 600;
  font-size: 2.1rem;
}

a{
  color:var(--text-color);
}
a:visited{
  color:var(--text-color);
}
a:hover,
a:focus{
  color:var(--secondary-color);
  text-decoration: none;
}
a:active{
  color:var(--secondary-color);
}

.btn{
  background: var(--btn-bg);
  color:var(--white);
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 2px solid #60301f;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.btn:visited{
  color:var(--white);
}
.btn:hover,
.btn:focus{
  background: var(--btn-bg-hover);
  color:var(--white);
  opacity: 0.8;
}
.btn:active{
  background: var(--btn-bg-hover);
  color:var(--white);
}
/* Layout styling */
ul{
  margin: 0;
}
.container {
padding: 0 15px;
display: flex;
flex-direction: column;
gap: var(--content-gap);
align-items: center;
}
section{
  padding-block:4rem ;
}

#hero h1{
  text-align: center; /* Centers text */
}
#hero p{
  text-align: center;
}
.logo{
  color: var(--text-color) !important;
  font-size: 3rem;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
}
header{
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
  -webkit-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
  -moz-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.5)  ; 
}
header .container{
  gap: 2rem;
}
.content-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.content_media-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav > ul > li {
  display: inline-block;
}
nav > ul{
  list-style-type: none ;
  padding: 0;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
nav > ul > li > a {
  padding: 0 ;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1;
  display: block;
}
nav > ul > li > a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
}
nav > ul > li > a:hover {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #353e4a;
  color: var(--white);
}
nav > ul > li > a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
}
#hero {
  background-color: var(--primary-color);
 
}
main{
  padding-top: 76px;
}
.socials svg{
  padding: 20px;
  display: inline-block;
  width: 70px;
  height: 70px;
}
footer{
  text-align: center;
  padding-block-start: 2rem;
}

.project-card{
  border-bottom: 1px solid #000;
  padding-block-end: var(--content-gap);
  display:grid;
  gap:2rem;
}
.project-card:last-child{
  border-bottom: 0;
  padding-block-end: 0;

}
.about img{
  aspect-ratio: 1;
  object-fit: cover;
  /* object-position: 0 39%; */
  border-radius: 100vw;
}
#about-picture{
  width: 100%;
}
.columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-block{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
img{
  border: 1px solid #000;
  border-radius: 2rem;
}

@media (min-width: 768px){
  body{
    font-size: 1.8rem;
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .list-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .list-block_heading{
    display: flex;
    justify-content: center;
  }
  .list-block_list{
    list-style: none;
    padding: 1rem;
  }
  nav ul {
    gap: 5rem;
  }

  main{
    padding-top: 50px;
    text-align: center;
  }
  .about{
    display: flex;
    border-radius: 50vw;
  }
  .my-image{
    max-width: 500px;
  }
  .project-card{
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--content-gap) * 1);
  }
  .row{
    padding:var(--content-gap);
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--content-gap) * 1);
    justify-content: center;
  }
  footer{
    padding-top: 50px;
    font-size: 1.7rem;
  }
  .hero{
    text-align: center;
  }
  .project-card__media-wrapper{
    display: flex;
    align-items: center;
  }
  .list-block_wrapper{
    background-color: var(--primary-color);
    padding: var(--content-gap);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media (min-width: 1000px){
  body{
    font-size: 2.1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
section{
  padding-block: 11rem;
  padding-bottom: inherit;
}
.container{
  max-width: 1200px;
  margin-inline: auto;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.text-block {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  align-items: center;
}
.list-block_wrapper{
  background-color: var(--primary-color);
  padding: var(--content-gap);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-block_list {
  list-style-type: none;
  padding: 0%;
}
footer{
  padding-top: 50px;
  font-size: 2.2rem;
}
}
@media (min-width: 1440px){
body{
  font-size: 2.3rem;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
section{
  padding-block: 11rem;
  padding-bottom: inherit;
}
.container{
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.text-block {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  align-items: center;
}
.list-block_wrapper{
  background-color: var(--primary-color);
  padding: var(--content-gap);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-block_list {
  list-style-type: none;
  padding: 0%;
}
footer{
  .container{
    font-size: 2.3rem;
  text-align: center;
  max-width: 1200px;
}
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill:#fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move{
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.cloud-front{
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
